@model SportHub.ViewModels.SportFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Sport</h2>
@using (Html.BeginForm("Create", "Sports"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Complex)
        @Html.TextBoxFor(m => m.Complex, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.Type, new SelectList(Model.Types, "Id", "Name"), "", new {@class = "form-control"})
       
    </div>
    <button type ="submit"  class ="btn btn-primary">Save</button>
}



